 {{>adminsidenav}}
     <section class="dashboard-container">
         <div class="dashboard-nav">
            <div class="dashboard-left">
                <div>
                    <i id="menu-btn" class="fas fa-bars"></i>
                </div>
                {{!-- <form class="search" action="/admin/search" method="post">
                    <input type="text" name="name" id="search" placeholder="search">
                    <button class="btn-search" type="submit"><i class="fas fa-search"></i></button>
                </form>  --}}
            </div>
            <div class="dashboard-right">
                <a href="/admin/logout">
                    <span class="material-symbols-outlined">
                        logout
                    </span>
                </a>
                <img src="/images/admin.jpg" alt="admin">
            </div>
         </div>

         <h3 class="dashboard-heading">
             ORDER DASHBOARD
         </h3>

         

         <div class="dashboard orderboard">
            <table width="100%">
                <thead>
                    <tr>
                        <td>Cutomer</td>
                        <td>Product</td>
                        <td>Image</td>
                        <td>Amount</td>
                        <td>Status</td>
                        <td>Action</td>
                    </tr>
                </thead>
                <tbody>
                    {{#each orders}}
                    <tr>
                        <td>{{user.name}}</td>
                        <td>
                            {{#each orderItems}}
                             <p>{{id.productName}}</p>
                            {{/each}}
                        </td>
                        <td class="order-image-container">
                            {{#each orderItems}}
                              <img src="{{id.images.[0].secured_url}}" alt="IMAGE">
                            {{/each}}
                        </td>

                        <td>{{totalAmount}}</td>

                        <td>
                          {{#if isDelivered}}
                            Deleivered
                          {{else}}
                            {{#if isCancelled}}
                               Cancelled
                            {{else}}
                               {{trackingInfo}}
                            {{/if}}
                          {{/if}}
                        </td>
                        <td>
                            <div class="order-action">
                                <a href="/admin/order/view/{{id}}" class="btn-edit">
                                    <span class="material-symbols-outlined">
                                      visibility
                                    </span>
                                </a>
                                {{#if isDelivered}}
                                      <a class="success">Processed</a>
                                {{else}} 
                                   {{#if isCancelled}}
                                      <a class="danger">Cancelled</a>
                                    {{else}}
                                    <select name="tracking_info" id="tracking_info" class="tracking_info" data-url="{{id}}">
                                        <option value="">Select</option>
                                        <option value="Placed">Placed</option>
                                        <option value="Confirmed">Confirmed</option>
                                        <option value="Shipped">Shipped</option>
                                        <option value="Arriving today">Arriving today</option>
                                    </select>
                                        <a data-url="{{id}}" class="order-delivered-btn">
                                            Deliver
                                        </a>
                                        <a data-url="{{id}}" class="order-cancel-btn">
                                            Cancel
                                        </a>
                                    {{/if}}
                                {{/if}}
                            </div>
                            
                        </td>
                       
                    </tr>
                    {{/each}} 
                </tbody>
            </table>
         </div>

     </section>
     {{>popup}}

     <script src="/javascript/admin.js"></script>