

    {{>adminsidenav}}

     <section class="dashboard-container">
         <div class="dashboard-nav">
            <div class="dashboard-left">
                <div>
                    <i id="menu-btn" class="fas fa-bars"></i>
                </div>
                <form class="search" action="/admin/search" method="post">
                    <input type="text" name="name" id="search" placeholder="search">
                    <button class="btn-search" type="submit"><i class="fas fa-search"></i></button>
                    {{!-- <i class="fas fa-search"></i> --}}
                </form>
            </div>
            <div class="dashboard-right">
                {{!-- <i class="far fa-bell notification"></i> --}}
                <a href="/user/logout">
                    <span class="material-symbols-outlined">
                        logout
                    </span>
                </a>
                <img src="/images/admin.jpg" alt="admin">
            </div>
         </div>


         <h3 class="dashboard-heading">
             PRODUCT DASHBOARD
         </h3>


         {{!-- <div class="box-container">
            <div class="box">
                <i class="fas fa-users"></i>
                <div>
                    <h3>8234</h3>
                    <span>Users</span>
                </div>
            </div>
            <div class="box">
                <i class="fab fa-product-hunt"></i>
                <div>
                    <h3>824</h3>
                    <span>Products</span>
                </div>
            </div>
            <div class="box">
                <i class="fas fa-people-carry"></i>
                <div>
                    <h3>8234</h3>
                    <span>Order</span>
                </div>
            </div>
         </div> --}}

         <div class="add-btn-container">
            <a href="/admin/addproduct" class="btn-add-product">ADD PRODUCT</a>
         </div>


         <div class="dashboard">
            <table width="100%">
                <thead>
                    <tr>
                        <td>PRODUCT</td>
                        <td>STOCK</td>
                        <td>PRICE</td>
                        <td>Image</td>
                        <td>Status</td>
                        <td>Action</td>
                    </tr>
                </thead>
                <tbody>
                    {{#each products}}
                    <tr>
                        <td>{{productName}}</td>
                        <td>{{stock}}</td>
                        <td>{{price}}</td>
                        <td><img src="{{images.[0].secured_url}}" alt="IMAGE"></td>
                        {{#if isBlocked}}
                          <td>Blocked</td>
                        {{else}}
                           <td>Active</td>
                        {{/if}}
                        <td class="product-action">
                            <a href="/admin/product/{{_id}}" class="btn-edit">
                                <i class="fas fa-edit edit"></i>
                            </a>
                            {{#if isBlocked}}
                            <a data-url="{{_id}}" class="btn-block">
                                <i class="fas fa-check-square tick"></i>
                                {{!-- <i class="fas fa-times-circle cross"></i> --}}
                            </a>
                            {{else}}
                            <a data-url="{{_id}}" class="btn-block">
                                {{!-- <i class="fas fa-check-square tick"></i> --}}
                                <i class="fas fa-times-circle cross"></i>
                            </a>
                            {{/if}} 
                        </td>
                        {{!-- <td>{{}}</td> --}}
                        {{!-- <td>
                             {{#if isBlocked}}
                            <a class="unblock" data-url="{{_id}}">UNBLOCK</a>
                            {{else}}
                            <a class="block" data-url="{{_id}}">BLOCK</a>
                            {{/if}}   
                        </td>  --}}
                    </tr>
                    {{/each}} 
                    
                </tbody>
                {{!-- <tbody>
                    <tr>
                        <td>PUMA</td>
                        <td>200</td>
                        <td>20</td>
                        <td>
                            <img src="/images/admin.webp" alt="ADMIN">
                        </td>
                        <td>VIEW</td>
                    </tr>
                    <tr>
                        <td>PUMA</td>
                        <td>200</td>
                        <td>20</td>
                        <td>
                            <img src="/images/admin.webp" alt="ADMIN">
                        </td>
                        <td>VIEW</td>
                    </tr>
                    <tr>
                        <td>PUMA</td>
                        <td>200</td>
                        <td>20</td>
                        <td>
                            <img src="/images/admin.webp" alt="ADMIN">
                        </td>
                        <td>VIEW</td>
                    </tr>
                    <tr>
                        <td>PUMA</td>
                        <td>200</td>
                        <td>20</td>
                        <td>
                            <img src="/images/admin.webp" alt="ADMIN">
                        </td>
                        <td>VIEW</td>
                    </tr>
                    <tr>
                        <td>PUMA</td>
                        <td>200</td>
                        <td>20</td>
                        <td>
                            <img src="/images/admin.webp" alt="ADMIN">
                        </td>
                        <td>VIEW</td>
                    </tr>
                    
                    
                </tbody> --}}
            </table>
         </div>

     </section>
     {{>popup}}

     <script src="/javascript/admin.js"></script>