
    <section class="product_form-container">
        <form id="product_update_form" action= "/admin/product/{{product.id}}" method="post" enctype="multipart/form-data">
            <h2 class="form-heading dfull">EDIT PRODUCT</h2>
            <div class="input-container">
                <label for="productName">Product Name</label>
                <input type="text" name="productName" id="productName" value="{{product.productName}}">
            </div>
            <div class="input-container">
                <label for="price">Price</label>
                <input type="number" name="price" id="price" value="{{product.price}}">
            </div>
            <div class="input-container">
                <label for="material">Material</label>
                <input type="text" name="material" id="material" value="{{product.material}}">
            </div>
            <div class="input-container">
                <label for="manufacturedBy">Manufactured By</label>
                <input type="text" name="manufacturedBy" id="manufacturedBy" value="{{product.manufacturedBy}}">
            </div>
            <div class="input-container">
                <label for="marketedBy">Marketed By</label>
                <input type="text" name="marketedBy" id="marketedBy" value="{{product.marketedBy}}">
            </div>
            <div class="input-container">
                <label for="stock">Stock</label>
                <input type="number" name="stock" id="stock" value="{{product.stock}}">
            </div>
            <div class="input-container">
                <label for="productDimension">Product Dimension</label>
                <input type="text" name="productDimension" id="productDimension" value="{{product.productDimension}}">
            </div>
            <div class="input-container">
                <label for="">Country of Origin</label>
                <input type="text" name="countryOfOrigin" id="countryOfOrigin" value="{{product.countryOfOrigin}}">
            </div>
            
            <div class="input-container">
                <label for="fullname">Category</label>
                <select name="categories" id="categories">
                    {{#each category}}
                        <option  value="{{_id}}" > {{categoryName}} </option>
                    {{/each}}
                </select>
            </div>
            <div class="input-container dfull">
                <label for="description">Product Description</label>
                <textarea name="description" rows="3" id="description">{{product.description}}</textarea>
            </div>
            <div class="input-container" id="image">
                <label for="imagefile">Product Image</label>
                <input type="file" name="imagefile" id="imagefile" multiple >
            </div>
            <div class="error dfull"></div>
            {{#if isExisting}}
                    <div class="errorMsg dfull">{{errMessage}}</div>
            {{/if}}
            <input type="submit" value="UPDATE PRODUCT" class="btn-submit btn-product" id="btn-submit">
        </form>
    </section>

<script src="/javascript/admin.js"></script>