    {{!-- <section class="navigation-container">
        <nav class="nav-container">
           <i class="fas fa-bars btn-toggler"></i>
           <img src="/images/logo.png" alt="LOGO" class="logo-img">
           <ul class="nav-list">
              <li class="nav-item">
                <a href="/product">
                  <span class="material-symbols-outlined">
                    chair
                  </span>
                  PRODUCTS
                </a>
              </li>
              <li class="nav-item">
                <a href="/user/{{id}}">
                <span class="material-symbols-outlined">
                  account_circle
                </span>
                  PROFILE
                </a>
              </li>
              <li class="nav-item">
                <a href="/cart">
                  <span class="material-symbols-outlined">
                    shopping_cart
                  </span>
                  Cart
                </a>
              </li>
              <li class="nav-item">
                <a href="/user/logout">
                  <span class="material-symbols-outlined">
                    logout
                  </span>
                  Logout
                </a>
              </li>
           </ul>
        </nav>    
    </section> --}}
    {{>nav}}
    <section class="home-container buy-product"> 
      <section class="best-products-container">
           <div class="best-products-heading">
              <h4 class="secondery_head">Shop till you drop</h4>
              <h2 class="primary_head">Let's Get Shopping</h2>
              <p class="tertiary_head">The coolest, hottest furniture pieces.</p>
              <div class="btn-container-product">
                  <a href="/product">All Products</a>
                  {{!-- <a href="#">Lights</a>
                  <a href="#">Chairs</a>
                  <a href="#">Tables</a> --}}
                  {{#each categories}}
                     <a href="/product/category/{{categoryName}}">{{categoryName}}</a>
                  {{/each}}
              </div>
           </div>
      </section>
      <section class="best-products-container">
        {{!-- <div class="best-products-heading">
            <h4>A little bit of everything</h4>
            <h2>All of our products</h2>
            <p>Everything you need in one place</p>
        </div> --}}
        <div class="best-products-list">
            

              {{#each productList}}
                <div class="product-card">
                   <img src="{{images.[0].secured_url}}" alt="best">
                   <h2 class="product_name">{{productName}}</h2>
                   <h3 class="price">{{price}}</h3>
                   <a href="/cart/{{_id}}" class="btn-add-cart">
                      Add to Cart
                   </a>
                   <a href="/product/{{_id}}" class="btn-view-product">
                      View Product
                   </a>  
                </div>
              {{/each}}
              



              {{!-- <div class="best-product">
                  <div class="card">
                      <img src="{{images.[0].secured_url}}" alt="best">
                      <p class="price">{{price}}</p>
                      <h3 class="product_name">{{productName}}</h3>
                      <a href="/cart/{{_id}}" class="btn-add-cart">
                         <i class="fas fa-cart-plus"></i>
                      </a>
                      <a href="/product/{{_id}}" class="btn-view-product">
                         <i class="fas fa-eye"></i>
                      </a>  
                  </div>
              </div> --}}
            
        </div>
      </section>
      <footer> 
        <h1>EVOKE, 2022 All Rights Reserved.</h1>
      </footer>
    </section>