  
    {{>nav}}
    
    
    <section class="cart-page-container">
            <div class="cart-items-container">
               {{#each cartItems}}
                 <div class="cart-card">
                    <div class="cart-details-container">
                        <img  src="{{id.images.[0].secured_url}}" alt="Image" class="cart-item-image">
                        <div class="cart-details">
                        <h1>{{id.productName}}</h1>
                        <h3>{{id.price}}</h3>
                        </div>
                    </div>
                    <div class="card-quantity-details">
                        <button {{#if isDownDisable}} disabled {{/if}} class="quantity-down" data-url = "{{id._id}}"> - </button>   
                        
                           <h1 class="quantity">{{quantity}}</h1>

                        <button {{#if isUpDisable}} disabled {{/if}} class="quantity-up" data-url = "{{id._id}}"> + </button>
                        
                        
                    </div>
                    <div class="cart-details-action">
                        <a>
                            <i class="fas fa-trash-alt delete-btn" data-url = "{{id._id}}"></i>
                        </a>
                    </div>
                 </div>
                {{/each}}
            </div>
            <div class="cart-items-details">
                <div class="cart-box">
                    <h1>Total Items</h1>
                    <h1>{{totalQuantity}}</h1>
                    <h3>Amount : {{totalPrice}}</h3>
                </div>
                <a href="/order" class="btn-order">CHECK OUT</a>
            </div>
    </section>

    <script src="/javascript/cart.js"></script>