 {{>nav}}
 <section class="order-page-container">
    <section class="order-page-right">
            <div class="order-details-container">
                {{#each cartItems}}
                <div class="order-details">
                    <img src="{{id.images.[0].secured_url}}" alt="product-img">
                    <div class="my-order">
                        <h1>{{id.productName}}</h1>
                        <h3>{{id.price}}</h3>
                    </div>
                    <h1>{{quantity}}</h1>
                </div>
                {{/each}}
            </div>
            <div class="order-summary">
                <div class="orders">
                    <h1>Order Summary</h1>
                    <div class="total-order-items">
                    <h3>Total Items</h3>
                    <h3>{{totalQuantity}}</h3>
                    </div>
                    <div class="total-order-items">
                        <h3>Total Amount</h3>
                        <h3 class="order-price">{{totalPrice}}</h3>
                    </div>
                    {{#if isCouponExist}}
                    <form action="/order/coupon" method="post" class="coupon-container">
                      <div class="input-container">
                         <input type="text" name="coupon" placeholder="Enter coupon code" id="coupon">
                         <input type="submit" value="Apply">
                      </div>
                    </form>
                    {{/if}}
                    {{#if isCouponUsed}}
                     <p style="font-size: 1.2rem;">{{couponMsg}}</p>
                    {{/if}}
                    {{#if isWrongCoupon}}
                     <p style="font-size: 1.2rem;">{{couponMsg}}</p>
                    {{/if}}
                    <a class="btn-payment btn-cod">Cash On Delivery</a>
                    <a class="btn-payment btn-razor">Pay Now</a>

                </div>
            </div>
    </section>
    <section class="order-page-left">
           
        <section class="adress-details-card-container">
                {{#each user.address}}
                <div class="adress-details-card">
                    <input type="radio" id="address" name="address" value="{{_id}}">
                    <div class="address-details">
                        <h2>{{houseName}}</h2>
                        {{!-- <h4>Gokulam</h4> --}}
                        <h4>{{phone}}</h4>
                        <h4>{{city}} , {{postalCode}}</h4>
                        <h4>{{state}} , {{coutry}}</h4>
                    </div>
                </div>
                {{/each}}
        </section>
        <button class="btn-address-show">Add Address</button>
        <section class="adress-form-container" id="adress-form">
                <form action="/order/address/{{user.id}}" method="POST" class="adress-form">
                        <div class="row-one">
                            <div class="input-container">
                                <label for="name">House Name</label>
                                <input type="text" name="houseName" id="name" required>
                            </div>
                            <div class="input-container">
                                <label for="email">Phone</label>
                                <input type="text" name="phone" id="email" required>
                            </div>
                            <div class="input-container">
                                <label for="email">City</label>
                                <input type="text" name="city" id="email" required>
                            </div>
                        </div>
                        <div class="row-one">
                            <div class="input-container">
                                <label for="name">Postal Code</label>
                                <input type="text" name="postalCode" required>
                            </div>
                            <div class="input-container">
                                <label for="email">State</label>
                                <input type="text" name="state" required>
                            </div>
                            <div class="input-container">
                                <label for="email">Country</label>
                                <input type="text" name="coutry" required>
                            </div>
                        </div>
                        <div class="row-one">
                            <input type="submit" value="Save" class="btn-address">
                        </div>
                </form>
        </section>
            
    </section>
</section>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script src="/javascript/order.js"></script>